<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: ~{::content}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="content">
    <h2 th:text="${user.id} ? 'Edit User' : 'Add New User'"></h2>

    <form th:action="@{/users/save}" th:object="${user}" method="post">
        <input type="hidden" th:field="*{id}"/>

        <div class="form-group">
            <label>First Name:</label>
            <label>
                <input type="text" th:field="*{firstName}" class="form-control" required/>
            </label>
        </div>

        <div class="form-group">
            <label>Last Name:</label>
            <label>
                <input type="text" th:field="*{lastName}" class="form-control" required/>
            </label>
        </div>

        <div class="form-group">
            <label>Email:</label>
            <label>
                <input type="email" th:field="*{email}" class="form-control" required/>
            </label>
        </div>

        <button type="submit" class="btn btn-save">Save</button>
        <a th:href="@{/users}" class="btn btn-cancel">Cancel</a>
    </form>
</div>
</body>
</html>